<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% if page.layout == 'url' %}
  <noscript><meta http-equiv="refresh" content="0;URL='{{ content | strip_html }}'"></noscript>
  {% endif %}

  <meta id="destination" content="{{ content | strip_html }}">

  <script>
    var destination = document.querySelector('#destination').content;
    var hash = window.location.hash;

    var redirectUrl = destination.trim() + hash;
    window.location = redirectUrl;
  </script>

  <script>
    console.log('Other things can happen too');
    console.log('Like firing analytics events, etc');
  </script>
</head>
